@model PrestationService.Models.Professionnel

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Home_layout.cshtml";
}


<section class="blog_area single-post-area p_120">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post row">
                    <h4>Information Personnelle</h4>
                    <dl class="row g-3">


                        <dd >
                            @Html.HiddenFor(model => model.IdProfessionnel)
                        </dd>

                        <dt class="col-md-6">
                            @Html.DisplayNameFor(model => model.nom)
                        </dt>

                        <dd class="col-md-6">
                            @Html.DisplayFor(model => model.nom)
                        </dd>

                        <dt class="col-md-6">
                            @Html.DisplayNameFor(model => model.prenom)
                        </dt>

                        <dd class="col-md-6">
                            @Html.DisplayFor(model => model.prenom)
                        </dd>

                        <dt class="col-md-6">
                            @Html.DisplayNameFor(model => model.naissance)
                        </dt>

                        <dd class="col-md-6">
                            @Html.DisplayFor(model => model.naissance)
                        </dd>

                        <dt class="col-md-6">
                            @Html.DisplayNameFor(model => model.adresse)
                        </dt>

                        <dd class="col-md-6">
                            @Html.DisplayFor(model => model.adresse)
                        </dd>

                        <dt class="col-md-6">
                            @Html.DisplayNameFor(model => model.mail)
                        </dt>

                        <dd class="col-md-6">
                            @Html.DisplayFor(model => model.mail)
                        </dd>

                        <dt class="col-md-6">
                            @Html.DisplayNameFor(model => model.tel)
                        </dt>

                        <dd class="col-md-6">
                            @Html.DisplayFor(model => model.tel)
                        </dd>

                        <dt class="col-md-6">
                            @Html.DisplayNameFor(model => model.identification)
                        </dt>

                        <dd class="col-md-6">
                            @Html.DisplayFor(model => model.identification)
                        </dd>

                        <dt class="col-md-6">
                            @Html.DisplayNameFor(model => model.diplome)
                        </dt>

                        <dd class="col-md-6">
                            @Html.DisplayFor(model => model.diplome)
                        </dd>

                        <dt class="col-md-6">
                            @Html.DisplayNameFor(model => model.specialite)
                        </dt>

                        <dd class="col-md-6">
                            @Html.DisplayFor(model => model.specialite)
                        </dd>

                        <dt class="col-md-6">
                            @Html.DisplayNameFor(model => model.ninea)
                        </dt>

                        <dd class="col-md-6">
                            @Html.DisplayFor(model => model.ninea)
                        </dd>

                        <dt class="col-md-6">
                            @Html.DisplayNameFor(model => model.registre)
                        </dt>

                        <dd class="col-md-6">
                            @Html.DisplayFor(model => model.registre)
                        </dd>

                        <dt class="col-md-6">
                            @Html.DisplayNameFor(model => model.statut)
                        </dt>

                        <dd class="col-md-6">
                            @Html.DisplayFor(model => model.statut)
                        </dd>

                        <dt class="col-md-6">
                            @Html.DisplayNameFor(model => model.experience)
                        </dt>

                        <dd class="col-md-6">
                            @Html.DisplayFor(model => model.experience)
                        </dd>

                        <dt class="col-md-6">
                            @Html.DisplayNameFor(model => model.photo)
                        </dt>

                        <dd class="col-md-6">
                            @Html.DisplayFor(model => model.photo)
                        </dd>

                    </dl>
                    <div class="col-12">
                        <button class="btn btn-dark">
                            @Html.ActionLink("Edit", "Edit", new { id = Model.IdProfessionnel })
                        </button>
                    </div>
                    
                </div>

                <div class="comment-form">
                    <h4>Offrez un service</h4>
                    <form>
                        <div class="form-group form-inline">
                            <div class="form-group col-lg-6 col-md-6 name">
                                <input type="text" class="form-control" id="nom" placeholder="Enter nom" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter nom'">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="sousCat" placeholder="categorie" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Categorie'">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control mb-10" rows="5" name="description" placeholder="description" onfocus="this.placeholder = ''" onblur="this.placeholder = 'description'" required=""></textarea>
                        </div>
                        <div class="form-group form-inline">
                            <div class="form-group col-lg-6 col-md-6 name">
                                <input type="text" class="form-control" id="prix" placeholder="Enter Prix" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Prix'">
                            </div>
                            <div class="form-group col-lg-6 col-md-6 email">
                                <input type="text" class="form-control" id="nbheure" placeholder="Enter nombre d'heure" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter nombre d heure'">
                            </div>
                        </div>
                        <a href="#" class="primary-btn submit_btn">Post Comment</a>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget author_widget">
                        <img class="author_img rounded-circle" src="~/occupy/img/team/foto2.jpeg" style="width:120px; height:120px" alt="">
                        <h4>Nom complet</h4>
                        <p>Profession</p>
                        <div class="social_icon">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </div>
                        <p>Experience de tout genre.</p>
                        <p>Experience de tout genre.</p>
                        <p>Experience de tout genre.</p>
                        <p>Experience de tout genre.</p>
                        <p>Experience de tout genre.</p>
                        <p>Experience de tout genre.</p>
                        <div class="br"></div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>


<div>
    <h4>Professionnel</h4>
    <hr />
    <dl class="dl-horizontal">

        <dd>
            @Html.HiddenFor(model => model.IdProfessionnel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.naissance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.naissance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.identification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.identification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diplome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diplome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.specialite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.specialite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ninea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ninea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.registre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.registre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.statut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.statut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.experience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.experience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.photo)
        </dd>

    </dl>
</div>
<p>

    @Html.ActionLink("Back to List", "Index")
</p>

